<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="utf-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
	<title>에러 레이아웃</title>
	<script type="text/javascript" th:src="|@{/js/Common.js}?v3|"></script>
	<script type="text/javascript" th:src="@{/js/isMobile.min.js}"></script>
</head>
<body>
	<!-- body -->
	<th:block layout:fragment="content"></th:block>
</body>
</html>